@using Microsoft.CodeAnalysis.CSharp.Syntax
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PAM2Zaliczenie</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/miniCSS/site.min.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="app-wrapper">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
                <div class="container">
                    <a class="PAM-logo" asp-area="" asp-controller="Home" asp-action="Index">PAM2Zaliczenie</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <!--Tylko admin widzi listę użytkowników-->
                            @if (@User.FindFirst(claim => claim.Type == ClaimTypes.Role)?.Value == "0")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="TaskType" asp-action="Index">TaskType</a>
                                </li>
                            }
                            @if (@User.FindFirst(claim => claim.Type == ClaimTypes.Role)?.Value == "0" || @User.FindFirst(claim => claim.Type == ClaimTypes.Role)?.Value == "1")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Tasks" asp-action="Index">Tasks</a>
                                </li>
                            }
                            @if (@User.FindFirst(claim => claim.Type == ClaimTypes.Role)?.Value == "0" || @User.FindFirst(claim => claim.Type == ClaimTypes.Role)?.Value == "1")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Employee" asp-action="Index">Employee</a>
                                </li>
                            }
                            @if (@User.FindFirst(claim => claim.Type == ClaimTypes.Role)?.Value == "2")
                            {

                            }
                            <!--Sprawdza czy zalogowany-->
                            @if (@User.FindFirst(claim => claim.Type == ClaimTypes.Role)?.Value == null)
                            {
                                <!--Wyświetla odnośniki do rejestracji-->
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Users" asp-action="Create">Register</a>
                                </li>
                                <!--Wyświetla odnośniki do logowania-->
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="UserLogin">Login</a>
                                </li>
                            }
                            else
                            {
                                <!--Wyświetla odnośniki do edycji aktualnie zalogowanego użytkownika-->
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Users" asp-action="SelfDetails" asp-route-id="@User.FindFirst(Claim=>Claim.Type==ClaimTypes.NameIdentifier).Value">@User.Identity.Name</a>
                                </li>
                                <!--Wyświetla odnośnik do wylogowania-->
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
            <img class="bg-image" asp-append-version="true" alt="Alternate Text" />
        </div>


    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - PAM2Zaliczenie - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/miniJS/site.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
